h1 Ayala Museum

a(data-toggle='lightbox', href='#lightbox')
  img(src='/img/ayala-museum/cover.jpg')

#lightbox.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .lightbox-content
    img(src='/img/ayala-museum/cover.jpg')
    .lightbox-caption Ayala Museum

p One's hunger for art, history and culture is easily satiated by the Ayala Museum. Located Makati Avenue corner Dela Rosa St (and 10 minutes away from the MRT station), we cannot deny the accessibility of this exquisitely grand institution. A plethora of collections and exhibitions offered by the museum may warrant different entrance fees but it need not be a subject of worry because discounts are given to children, students and senior citizens. Resting atop the Museum is the Filipina Heritage Library which houses more doors for gallivanting in the three fields of study. Without a doubt, the Museum and Library caters to the cravings of the culture-, art-, and history-famished individuals while its relative surroundings will fill the empty stomach, offering many a choice of cafes and restaurants.

p Walking into the museum is like delving into the Filipino soul expressed in art. Enthralling at every turn, the works of Amorsolo and Luna among others will surely captivate and allure. The craftsmanship exhibited by the Gold Artifacts balances the notions of academic art and ethnic art. To name a few more, dioramas, maritime vessels and a variety of ancient Asian pottery will entice the art-inclined endlessly. Those who are interested in politics and history are not left dissatisfied as audiovisual presentations are available for use.

The Filipinas Heritage Library redefines library experience for those who are attuned to Filipino literature. The library is home to a miscellany of books, manuscripts and other readings which date from the present and back to as far as 1890. The library's focus on art, culture, history, and literature promises a limitless adventure for those who seek leisure, study, or both.

h2 Additional Information

p
  | Want to know more? Then check out these links:
ul
  li
    a(href='http://www.ayalamuseum.org/') Ayala Museum Website
  li
    a(href='https://www.facebook.com/theayalamuseum') Ayala Museum Facebook Page
  li
    a(href='https://twitter.com/ayalamuseum') Ayala Museum Twitter Feed
