h1 Ayala Triangle Gardens

img(src='/img/ayala-triangle-gardens/cover.jpg')

p
  | The Ayala Triangle Gardens is the perfect place for a stroll, while appreciating
  | the history of Makati. After a leisurely walk along the trees of the gardens,
  | one can dine at any of the restaurants and cafes along its perimeter,
  | such as Bon Chon, Wee Nam Kee, or Banapple; or perhaps cross over to the
  | major malls in Makati within the Central Business District: Greenbelt,
  | Glorietta, and SM Makati City.
p
  | The Ayala Triangle Gardens is the former location of the Nielson Airport, the
  | first airport in the Philippines. The Nielson Airport was inaugurated on 1937
  | by Laurie Reuben Nielson, an Australian expatriate and businessman, with the
  | support and land of the Ayala Corporation, then known as
  em Ayala y Cia
  | .
  | It then ran for four years, establishing Manila as a primary domestic hub, and
  | the base of operations of the Far Eastern School of Aviation. On 1941, the
  | airport was handed over to the United States Army Air Forces in order to aid
  | the war effort against Japan. After the war, from 1946–1948, the airport
  | resumed commercial operations, only to move to the Villamor Air Base in
  | Pasay City, and the land returned to its original owners, the Ayala Corporation.
p
  | Now, the site of the Nielson Airport lies within the Makati Central Business
  | District. Its two runways were converted to the roads now known as Paseo de Roxas
  | and Ayala Avenue. Its control station was converted to the Ayala Triangle,
  | which now contains the Philippine Stock Exchange Plaza, the Makati Stock
  | Exchange Building, and the Ayala Triangle Gardens.

h2 Operating Hours and Guidelines

p
  strong Operating Hours:
  |  6:00 A.M. – 10:00 P.M.

strong Guidelines

p All guests are required to observe the following guidelines as well as other policies and directives of management to ensure a relaxing and enjoyable experience at Ayala Triangle Gardens.

ul
  li Guests shall be solely responsible for their actions and belongings. The Owner and management shall not be liable for any loss or damage to guests.
  li Security checks on persons and property may be conducted at the discretion of management.
  li Management reserves the right to refuse admission or deny the continued stay of any person in the premises, including those who fail to comply with Outdoor Space guidelines or who otherwise engage in disruptive or inappropriate behavior.
  li Guests should use proper pathways and properly dispose of trash.
  li Minors must be accompanied and supervised by responsible adults.
  li Guests must observe and preserve pedestrian safety.
  li Pets must be properly leashed and secured, and handlers must clean up after them.
  li The following acts are PROHIBITED within the premises:
    ul
      li Selling and / or displaying goods or services
      li Leaf letting,  distributing or posting of any printed material
      li Generating loud noise and music
      li Vandalism
      li Staging of unauthorized events, public gathering or unauthorized assembly
      li Taking photographs, videotaping, recording, broadcasting or transmission of any material for commercial purposes
      li Gambling or any other illegal, immoral or improper conduct
      li Bringing in of dangerous or hazardous materials, weapons (or similar objects), illegal substances, alcoholic drinks and glass containers
      li Use of skateboards or motor vehicles (except motorized wheelchairs and non motorized bicycles)

p 
  em (reproduced from the 
    a(href='http://ayalatriangle.com/gardens') Ayala Triangle website
    | )

h2 Additional Information

p
  | Want to know more? Then check out these links:
ul
  li
    a(href='http://www.filipinaslibrary.org.ph/component/content/article/35-history/48-nielson') Filipinas Heritage Library - Nielson Airport
  li
    a(href='http://ayalatriangle.com/gardens') Ayala Triangle Gardens
