h1 Ayala Triangle Gardens

img(src='/img/ayala-triangle-gardens/cover.jpg')

p
  | The Ayala Triangle Gardens is the perfect place for a stroll, while appreciating
  | the history of Makati. After a leisurely walk along the trees of the gardens,
  | one can dine at any of the restaurants and cafes along its perimeter,
  | such as Bon Chon, Wee Nam Kee, or Banapple; or perhaps cross over to the
  | major malls in Makati within the Central Business District: Greenbelt,
  | Glorietta, and SM Makati City.
p
  | The Ayala Triangle Gardens is the former location of the Nielson Airport, the
  | first airport in the Philippines. The Nielson Airport was inaugurated on 1937
  | by Laurie Reuben Nielson, an Australian expatriate and businessman, with the
  | support and land of the Ayala Corporation, then known as
  em Ayala y Cia
  | .
  | It then ran for four years, establishing Manila as a primary domestic hub, and
  | the base of operations of the Far Eastern School of Aviation. On 1941, the
  | airport was handed over to the United States Army Air Forces in order to aid
  | the war effort against Japan. After the war, from 1946–1948, the airport
  | resumed commercial operations, only to move to the Villamor Air Base in
  | Pasay City, and the land returned to its original owners, the Ayala Corporation.
p
  | Now, the site of the Nielson Airport lies within the Makati Central Business
  | District. Its two runways were converted to the roads now known as Paseo de Roxas
  | and Ayala Avenue. Its control station was converted to the Ayala Triangle,
  | which now contains the Philippine Stock Exchange Plaza, the Makati Stock
  | Exchange Building, and the Ayala Triangle Gardens.

