h1 Fiipinas Heritage Library

img(src='/img/filipinas-heritage/cover.jpg')

The Filipinas Heritage Library redefines library experience for those who are attuned to Filipino literature. The library is home to a miscellany of books, manuscripts and other readings which date from the present and back to as far as 1890. The library's focus on art, culture, history, and literature promises a limitless adventure for those who seek leisure, study, or both.

h2 Library Hours

p Tuesdays - Fridays: 9 AM - 6 PM
p Saturdays: 10 AM - 7 PM

h2 Additional Information

p
  | Want to know more? Then check out these links:
ul
  li
    a(href='http://filipinaslibrary.org.ph/') Filipinas Heritage Library Website
  li
    a(href='https://www.facebook.com/filipinasheritagelibrary') Filpinas Heritage Library Facebook Page
