h1 Nuestra Señora de Gracia Church

img(src='/img/guadalupe-church/cover.jpg')

p Hailed as one of the most popular wedding venues in Metro Manila, the Nuestra Señora de Gracia Parish Church is an excellent place to visit for its notable architecture, colorful history and symbols of religiosity.  It is administered by the Augustinian order and home to its titular patroness, Nuestra Señora de Guadalupe.

p The parish and its adjacent monastery are both laid in 1601 and fully constructed in 1629.  Evident from afar is its doric architecture with massive buttresses to hold its numerous body of stones taken from the extinct Guadalupe quarry.  Its walls are solid and stable, withstanding the earthquakes of 1645, 1658, 1754 and 1863.  However, its structure was rebuilt in 1882 when the masonry roof of the church collapsed in the earthquakes of 1880 and also after both the church and monastery were deeply damaged by fire in 1899 during the early skirmishes between Americans and Filipinos.

p Aside from being a place of worship for Filipinos, it also served as a seat of devotion for the Chinese after the Chinese uprising of 1639.  It also became a site of an orphan asylum and trade school administered by the Augustinian order for the benefit of the children of the victims of the cholera of 1882.

p Located at 7440 Bernardino St., Guadalupe Viejo, Makati City, you can pay a visit during its mass hours - 6am and 6pm on Mondays to Saturdays; 6, 7:15, 8:30 and 9:45 am and 5, 6:15 and 7:30 pm on Sundays.  If you're interested to reserve the parish as a wedding venue, you can contact them through phone at (02) 896-8444.


h2 Additional Information

p
  | Want to know more? Then check out these links:
ul
  li
    a(href='http://nsdg.ph/?page_id=128') Nuestra Señora de Gracia Parish Church Website
  li
    a(href='http://www.makeitmakati.com/must-see-attractions/places-of-interest/nuestra-senora-de-gracia-parish-church') Make it Makati - Nuestra Señora de Gracia Parish Church
  li
    a(href='http://metromanilachurchceremonyvenues.blogspot.com/2009/04/nuestra-senora-de-gracia-parish.html') Metro Manila Church and Ceremony Venues - Nuestra Señora de Gracia Parish
