- var places = [{code: 'monuments', name: 'Ayala Triangle Monuments'}, {code: 'ayala-triangle-gardens', name: 'Ayala Triangle Gardens'}, {code: 'filipinas-heritage', name: 'Filipinas Heritage Library'}, {code: 'guadalupe-church', name: 'Nuestra Señora de Gracia Church'}, {code: 'ayala-museum', name: 'Ayala Museum'}, {code: 'plaza-cristo-rey', name: 'Plaza Cristo Rey'}, {code: 'poblacion-church', name: 'Saints Peter and Paul Church'}, {code: 'yuchengco-museum', name: 'Yuchengco Museum'}]
for place in places
  h2 #{place.name}
  a(href='/#/sites/#{place.code}')
    img(src="/img/#{place.code}/cover.jpg")
