h1 Ayala Triangle Monuments

h2 Ninoy Aquino
img(src='/img/monuments/ninoy-aquino.jpg')
p
    | Benigno Simeon Aquino Jr. was born on November 27, 1932 in Concepcion, Tarlac from a wealthy family of hacienderos. He was the youngest Filipino senator at the age of 34 and was known to be one of the leaders of the opposition against the dictatorship of Ferdinand Marcos.  He fought for democracy during the Martial law, the period where social injustices and crimes were all over the country. He was considered to be the rival of Marcos and the primary icon of hope for all the Filipinos during that time. He was assassinated on August 21, 1983 at the Manila International Airport which was later renamed as Ninoy Aquino International Airport in honour of his contribution to the Philippines and the day of his death was considered to be a National Holiday. His wife, Corazon Cojuangco Aquino became the president after Marcos’ time while his son, Benigno Aquino III is the current president.
p
  | This bronze monument of Ninoy with two bodyguards holding him was sculpted by Peter de Guzman in memory of the late Ninoy Aquino. It was built in the corner of Ayala Avenue and Paseo de Roxas situated at the southwestern edge of Ayala Triangle where the Makati Stocks Exchange (south), Filipinas Heritage Library (southeast) are also located. There was also another statue built in front of the Municipal Building of Concepcion, Tarlac and his face was printed in the five hundred peso bill in honour of his name.
h2 Gabriela Silang
img(src='/img/monuments/gabriela-silang.jpg')
p
  | María Josefa Gabriela Cariño Silang was born on March 19, 1731 in Santa, Ilocos Sur.  She was the wife of the Ilocano insurgent, Diego Silang and together they fought for the independence of Ilocos during the British occupation of the Philippines. She was well known for her policy of harassment that struck terror to the Spaniards as well as to the Filipinos that helped Spain. She was called generala and became the leader of Ilocanos after the death of his husband in 1973 but after four months she was also captured and hanged on September 20, 1763.
p
  | This statue was sculpted by Jose Mendoza in 1971 located at the corner of Makati Avenue and Ayala Avenue.  It was placed by the Zobel de Ayala Family and was inaugurated by Gabriela Silang's great-granddaughter Gloria Cariño and her great-grandson Mario Cariño Merritt.  There were also other monuments at the town plaza of Pidigan, Abra as well as in the Gabriela Silang Memorial Park at the Tangadan Welcome Tunnel in Abra that were made after her. Lastly, GABRIELA, a Filipino organization that fights for women’s issues was named after her.
h2 Pio del Pilar
img(src='/img/monuments/delpilar.jpg')
p
  | Pío Castañeda Isidro, better known as Pio del Pilar was born on June 11, 1860 in Culi-culi(now known as Pio del Pilar), San Pedro de Makati. He was one of the Revolutionary Generals of the Philippines during the Spanish and American occupation. He was part of the Katipunan and formed the Matagumpay chapter that fought the Battle of Binakayan on November 9, 1896 defeating the Spanish forces. He designed his chapter’s war flag, a red flag with a white triangle with the letter "K" in each angle, and in the middle, a half sun with seven rays. His group fought in the Battle of Morong against the Americans but were defeated and then he died on June 21, 1931 due to an illness.
p
  | This statue was sculpted by Jose Mendoza in 1972 in honour of del Pilar that stands at the corner of Makati Avenue and Paseo de Roxas.
h2 Sultan Kudarat
img(src='/img/monuments/sultan-kudarat.jpg')
p
  | Qudratullah Katchil Sultan Muhammad Dipatuan Kudarat, popularly known as Sultan Kudarat was a Sultan of Maguindanao born on 1581. He was famous for successfully defeating the Spaniards that tried to conquer his land and obstructed the attempted Christianization of Mindanao.  He was a descendant of Shariff Kabungsuwan, the Muslim missionary who brought Islam to the Philippines. He was the son to Sultan Laut Buisan whom he inherited his title. During his time, he overpowered various tribes and proclaimed his kingdom as the Datu of the Pulangi region. He was also responsible in establishing unity in a large part of Mindanao and North Borneo. His reign was believed to end on 1671.
p
  | This statue of Sultan Kudarat was made by the famous sculptor, Jose Mendoza in 1973 in honour of his bravery. It is located at the corner of Makati Avenue and Paseo de Roxas.

