h1 Ayala Triangle Monuments

p While having a walk around Makati, you may notice statues along the Makati Avenue. These statues are not just random people, but they are noble Filipinos who made a mark on history. Let's have a quick review on each monument.

h2 Ninoy Aquino
img(src='/img/monuments/ninoy-aquino.jpg')
p
  | Benigno Simeon Aquino Jr. was the penultimate face of freedom and nationalism. Born to a wealthy family of hacienderos in Concepcion, Tarlac on November 27, 1932, he became the youngest lawmaker to hold a seat in the Senate at the age of 34. The highlight of Ninoy’s life was the never-ending quest and battle for democracy against the dictatorship of Ferdinand Marcos during the Martial Law. This figure of nonconformity became the sigil of hope during those times when social injustices were rampant throughout the country. His life may have ended tragically on the 21st of August 1983 yet his beliefs lived on through his wife Corazon Aquino, who became the president after Marcos’s reign, carried on beliefs.
p
  | In honor of his heroism, Peter de Guzman has sculpted this bronze monument depicting the late Ninoy and two bodyguards. This monument is situated at the southwestern edge of the Ayala Triangle. Another statue of himwas built and situated in front of the Municipal Building of Concepcion, Tarlac; and his face is imprinted on the five-hundred peso bill to further exalt his nationalistic deeds.
p
  | This bronze monument of Ninoy with two bodyguards holding him was sculpted by Peter de Guzman in memory of the late Ninoy Aquino. It was built in the corner of Ayala Avenue and Paseo de Roxas situated at the southwestern edge of Ayala Triangle where the Makati Stocks Exchange (south), Filipinas Heritage Library (southeast) are also located. There was also another statue built in front of the Municipal Building of Concepcion, Tarlac and his face was printed in the five hundred peso bill in honour of his name.
h2 Gabriela Silang
img(src='/img/monuments/gabriela-silang.jpg')
p Born Maria Josefa Gabriela Cariño on March 19, 1731 in Ilocos Sur, she became the wife of Diego Silang, the famed Ilocano insurgent during the brief British occupation of northern Philippines. 'Generala' she was called; she continued the fight of her husband after his death in 1763, leading the Ilocanos until her capture and execution on September 20, 1763.
p Sculpted by Jose Mendoza in 1971, this sculpture was placed at the corner of Makati Avenue and Ayala Avenue by the Zobel de Ayala family. It was inaugurated with the special participation of Silang's great-grandchildren Gloria Cariño and Mario Cariño Merritt. Other monuments around the town plaza of Pidigan, Abra were erected in honor of the Generala. The Gabriela Silang Memorial Park was named after the late Silang. GABRIELA, a Filipino organization and advocate of women's rights was named in honor of Gabriela Silang, a Filipino woman of conviction and action.
h2 Pio del Pilar
img(src='/img/monuments/delpilar.jpg')
p Revolutionary General Pío Castañeda Isidro, better known as Pio del Pilar was born on June 11, 1860 in Culi-culi (now known as Pio del Pilar), San Pedro de Makati. As part of the Katipunan, he was credited for creating the Matagumpay chapter of the brotherhood. Said chapter fought the Battle of Binakayan in November 9, 1896, successfully defeating the Hispanic forces, waving the flag of his own creation: a red flag with the letter 'K' in each angle, with half a sun with seven rays. His group then lost the Battle of Morong to the Americans. Del Pilar died of illness on Nune 21, 1931.
p This statue was sculpted by Jose Mendoza in 1972 in honour of del Pilar that stands at the corner of Makati Avenue and Paseo de Roxas.
h2 Sultan Kudarat
img(src='/img/monuments/sultan-kudarat.jpg')
p Qudratullah Katchil Sultan Muhammad Dipatuan Kudarat, popularly known as Sultan Kudarat was a Sultan of Maguindanao born on 1581. He was famous for successfully defeating the Spaniards that tried to conquer his land and obstructed the attempted Christianization of Mindanao. He was a descendant of Shariff Kabungsuwan, the Muslim missionary who brought Islam to the Philippines. He was the son to Sultan Laut Buisan whom he inherited his title. During his time, he overpowered various tribes and proclaimed his kingdom as the Datu of the Pulangi region. He was also responsible in establishing unity in a large part of Mindanao and North Borneo. His reign was believed to end on 1671.
p This statue of Sultan Kudarat was made by the famous sculptor, Jose Mendoza in 1973 in honour of his bravery. It is located at the corner of Makati Avenue and Paseo de Roxas. 

h2 Additional Information

p
  | Want to know more? Then check out these links:
ul
  li
    a(href='http://ayalatriangle.com/attractions/ninoy-aquino-monument') Ayala Triangle Gardens - Ninoy Aquino Monument
  li
    a(href='http://ayalatriangle.com/attractions/gabriela-silang-monument') Ayala Triangle Gardens - Gabriela Silang Monument
  li
    a(href='http://ayalatriangle.com/attractions/sultan-kudarat-monument') Ayala Triangle Gardens - Sultan Kudarat Monument
