h1 Plaza Cristo Rey 

img(src='/img/plaza-cristo-rey/cover.jpg')

p Offering a wide open space to the public just across the Sts. Peter and Paul Parish is the Plaza Cristo Rey.  Partially enclosed with walls and floored with a red-tile pathway leading to the stage, the plaza's most prominent feature is the Jesus Christ statue found in the middle of the stage.  As the statue probably suggests, before being converted into a plaza, the area was of religious importance as it was once a part of the Church Patio that included the San Pedro Macati Cemetery.  Here, clergies and Spaniards were interred and it was used later on as a cemetery for the dead during the Spanish-American War.  But since the transfer the of the cemetery after the WWII, the area was converted into a plaza and redeveloped in the 1980's.

p A free and quiet place to hang out with your friends, family or alone, visit the Plaza Cristo Rey along P. Burgos Street, in front of the St. Peter and Paul Parish.
