h1 Saints Peter and Paul Church

a(data-toggle='lightbox', href='#lightbox')
  img(src='/img/poblacion-church/cover.jpg')

#lightbox.lightbox.hide.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .lightbox-content
    img(src='/img/poblacion-church/cover.jpg')
    .lightbox-caption Saints Peter and Paul Church


p For those seeking a place of history, architecture and spirituality, the Sts. Peter and Paul Parish is a good venue.  Situated in a narrow side street in Barangay Poblacion, this church is the mother Parish Church of Makati and played a central role especially during its years of initial development.  It was dedicated to the first pope, St. Peter and to the local patron saint, St. Paul.  Thus the place was named San Pedro Macati, shortened by the locals to "Sampiro".

p The church was built under the charge of Fr. Pedro Montes on a hill called Buenavista, donated by Capt. Pedro de Britto and his wife, and was fully constructed in 1620.  Designed with Baroque architecture, it followed the typical Spanish colonial mission churches that have a single-rectangular nave which includes the apse and sacristy.  St. Peter and Paul images and symbols of Papacy such as three-tiered tiaras and keys can also be seen, along with the images of Nuestra Señora de la Rosa and the Sto. Niño de Pasion which can only be found in Makati.  Despite going through numerous renovations and design changes over the years, most of its original features can still be found such as its bells and its eye-catching retablo covered in gold-colored embellishments.

p So if you're up for a short visit or stay back for a mass, visit it at 5539 D.M. Rivera St., Poblacion, Makati City when it is surely open to the public during mass hours: 6, 7 am and 6:30 pm from Mondays to Fridays, 6:30 pm on Saturdays and 6, 7, 8, 9, 10 am and 5, 6, 7, and 8 pm on Sundays.

h2 Additional Information
p
  | Want to know more? Then check out these links:
ul
  li
    a(href='http://www.makaticity.com/churches/sts_peter_and_paul_church.php') Makati City.com - Saints Peter and Paul Church
  li
    a(href='http://wiki.alumni.net/wiki/Asia/Philippines/Metro_Manila/Makati_City/Saints_Peter_and_Paul_Parish/') Alumni.net - Saints Peter and Paul Parish
