h1 Yuchengco Museum

p A melting pot of not just traditional, historical, and local art but also of present international, cultural and design artworks and programs, the Yuchengco Museum is a place to be for art enthusiasts.  Opened to the public in 2005, the museum was created to display Ambassador Alfonso T. Yuchengco's collection of artwork and cultural/historical exhibitions and to foster greater art appreciation from the public.

p The museum primarily showcases its two collections - the Masters Gallery and the Yuchengco Group of Companies (YGC) Gallery.  The Masters Gallery, whose centerpiece revolves around the works of Juan Luna, Fernando Amorsolo and Carlos "Botong" Francisco, highlights the Filipino painting masters whose works depict Filipino life.  Works by national artists like Napoleon Abueva and Vicente Manansala and other genre Filipino painters are also showcased here.  On the other hand, the YGC Gallery displays memorabilia related to the Yuchengco family's Chinese heritage, the YGC's history, and Ambassador Yuchengco's business and diplomatic career.

p Aside from its collections, the museum also exhibits other artworks.  It displays works that revolve around these three themes -  the Sino-Filipino Expressions, Bridging Cultures and Design as Art, Art as Design.  One of the museum's permanently displayed artworks showcasing these themes is the Suspended Garden - a site-specific installation resembling a floating Zen garden.  Even artworks by relatively unknown artists are welcomed and displayed in one of its galleries - the Water Dragon Gallery - as an effort to help artists, art organizations, and other art galleries have an avenue and an opportunity to stage and sell their art to a wider audience.

p Going beyond housing galleries, the museum also offers events like education and extension programs, culture and media writing workshops, culture and developments talks, Chinese painting workshops and outreach training programs on cultural institution.  It's even open to enterprise management event rentals.  

p So if you're up for a walk inside the museum's galleries or just curious to see its hanging garden, visit it at RCBC Plaza, Ayala Avenue, Makati City on Mondays to Saturdays from 10 am to 6 pm.  Admission rates for adults, students, children and senior citizens vary.

h2 Additional Information

p
  | Want to know more? Then check out these links:
ul
  li
    a(href='http://www.yuchengcomuseum.org/') Yuchengco Museum
  li
    a(href='https://www.facebook.com/yuchengcomuseum') Yuchengco Museum Facebook Page
  li
    a(href='https://twitter.com/yuchengcomuseum') Yuchengco Museum Twitter Feed
