#main
  margin-top 60px

[ng\cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none

footer
  border-top 1px solid #ccc
  margin-top 5em
  padding 1em 0
  text-align center

#map-page
  #map
    width 100%
    height 600px

img
  width 600px
  margin 2em auto
  display block
  border-radius 3px
  border 1px solid #ccc

.lightbox-content
  img
    width 800px

a.cover
  display block
  position relative
  div
    z-index 10
    position absolute
    bottom 20px
    left 0
    width 100%
    text-align center
    font-size 3em
    color #efefef
    -webkit-text-stroke 1px #333

.leaflet-popup
  color #111


@import "_home.styl"
